<div class="uib-datepicker" ng-switch="datepickerMode" role="application" ng-keydown="keydown($event)">
    <uib-daypicker ng-switch-when="day" tabindex="0" template-url="views/components/multi-day.html"></uib-daypicker>
    <uib-monthpicker ng-switch-when="month" tabindex="0"></uib-monthpicker>
    <uib-yearpicker ng-switch-when="year" tabindex="0"></uib-yearpicker>
</div>
