<div>
    <span class="subtitle">Абонементы</span>

    <div style="float: right">
        <input type="text" id="filter" ng-model="currentFilter" ng-enter="showPage()" placeholder="фильтр..." class="form-control"/>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Посещений</th>
            <th>Дней</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.countPortion}}</td>
            <td>{{item.daysPortion}}</td>
            <td>{{item.price}}</td>
            <td>
                <button ng-click="edit(item)" class="glyphicon glyphicon-pencil btn btn-xs"></button>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <ul uib-pagination
                total-items="totalItems"
                ng-model="currentPage"
                max-size="maxSize"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                items-per-page="countPerPage"
                num-pages="numPages"></ul>

    </div>


    <div ng-controller="ModalAbonController">
        <button class="btn btn-default btn-sm" ng-click="openNew()"><i class="glyphicon glyphicon-plus"></i> Новая запись</button>
    </div>


</div>
