<div>
    <span class="subtitle">Клиенты</span>

    <div style="float: right">
        <input type="text" id="filter" select-on-click ng-model="currentFilter" ng-enter="showPage()" placeholder="фильтр..." class="form-control"/>
    </div>

    <table id="clientsTable" class="table table-striped">
        <thead>
        <tr>
            <th>ФИО</th>
            <!--<th>Карта</th>-->
            <th>Дата рождения</th>
            <!--<th>Телефон</th>-->
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items" name="{{item.uuid}}">
            <td>{{item.secondName}} {{item.name}} {{item.middleName}}</td>
            <!--<td>{{item.currentCardEan}}</td>-->
            <td>{{item.birth | date:'dd.MM.yyyy' : 'UTC'}}</td>
            <!--<td>{{item.phone}}</td>-->
            <td>
                <button name="editButton" ng-click="edit(item)" title="Редактировать пользователя" class="glyphicon glyphicon-pencil btn btn-xs"></button>
                <button name="payButton" ng-click="pay(item)" title="Просмотр платежей" class="glyphicon glyphicon-list btn btn-xs"></button>
                <button name="addPayButton" ng-click="addPay(item)" title="Новый платеж" class="glyphicon glyphicon-usd btn btn-xs"></button>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <ul uib-pagination
                total-items="totalItems"
                ng-model="currentPage"
                max-size="maxSize"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                items-per-page="countPerPage"
                num-pages="numPages"></ul>
    </div>


    <div ng-controller="ModalPersonController">
        <button id="newClientButton" class="btn btn-default btn-sm" ng-click="openNew()"><i class="glyphicon glyphicon-plus"></i> Новая запись</button>
    </div>

    <div ng-controller="ModalPaymentController" />

</div>
