<div>
    <span class="subtitle">Тренеры</span>

    <div style="float: right">
        <input type="text" id="filter" ng-model="currentFilter" ng-enter="showPage()" placeholder="фильтр..." class="form-control"/>
    </div>

    <table id="coachesTable" class="table table-striped">
        <thead>
        <tr>
            <th>Тренер</th>
            <th>Услуги</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.name}}</td>
            <td><span style="margin-right: 18px" ng-repeat="serv in item.services">
                <!--<a ng-href="#!payments?service_id={{serv.id}}&coach_id={{item.uuid}}">{{serv.name}}</a>-->
                <a ng-href="#!seansList?coach_id={{item.uuid}}">{{serv.name}}</a>
            </span></td>
            <td>
<!--
                <button name="payButton" ng-click="pay(item)" title="Просмотр платежей" class="glyphicon glyphicon-list btn btn-xs"></button>
-->
                <button name="editButton" ng-click="edit(item)" class="glyphicon glyphicon-pencil btn btn-xs"></button>
            </td>
        </tr>
        </tbody>
    </table>

    <nav>
        <ul uib-pagination
                total-items="totalItems"
                ng-model="currentPage"
                max-size="maxSize"
                class="pagination"
                boundary-links="true"
                rotate="false"
                items-per-page="countPerPage"
                num-pages="numPages"></ul>

    </nav>

    <div ng-controller="ModalCoachController">
        <button id="newCoachButton" class="btn btn-default btn-sm" ng-click="openNew()"><i class="glyphicon glyphicon-plus"></i> Новый тренер</button>
    </div>


</div>
