<div id="homeDiv">
<p>Добро пожаловать, {{user.name}}</p>

    <p>Статистика по компании</p>

    <p>Статистика по терминалам</p>

    <p>Описание возможных действий</p>

    <p>Новости, уведомления</p>
</div>
