<style type="text/css">
    .grid {
        visibility: hidden;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 1000;
    }

    form {
        visibility: visible;
        width: 300px;
        margin: 100px auto;
        background-color: #fff;
        border: 1px solid #007FBB;
        padding: 15px;
        text-align: center;
    }
</style>

<form role="form" name="form" valdr-type="LoginModel" ng-submit="form.$valid && login()" novalidate>

    <span class="ng-scope">
            <p>{{errorMessage}}</p>
    </span>

    <div valdr-form-group>
        <label for="email">E-mail:</label>
        <input type="text"
               required
               class="form-control" id="email" name="email"
               ng-model="credentials.email"/>
    </div>

    <div valdr-form-group>
        <label for="password">Пароль:</label>
        <input type="password"
               required
               class="form-control" id="password" name="password"
               ng-model="credentials.password"/>
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="!form.$valid">Войти</button>
    &nbsp;
    <!--<a href="#!registration" id="registration">Зарегистрироваться</a>-->
</form>
