<div>
    <span class="subtitle">Платежи</span>
    <span class="subtitle" style="display: block">:{{person.secondName}} {{person.name}} {{person.middleName}}</span>

    <div>
        <button class="btn btn-default btn-sm" type="button"
                ng-show="coach_id && service_id"
                ng-click="export()">
            <i class="glyphicon glyphicon-save"> </i>
        </button>
    </div>


    <div style="float: right">
        <input type="text" id="filter" ng-model="currentFilter" ng-enter="showPage()" placeholder="фильтр..." class="form-control"/>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Время</th>
            <th>Клиент</th>
            <th>Карта</th>
            <th>В кассу (руб.)</th>
            <th>Компенсация (руб.)</th>
            <th>Период (<a href="" ng-click="filterQuery(period)">{{period | month}}</a>)</th>
            <th>Услуга</th>
            <th>Тренер</th>
            <th>занятия</th>
            <th>ндс</th>
            <th>нал/безн</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.payTime | date : 'dd.MM.yyyy HH:mm' : 'UTC'}}</td>
            <td>{{item.person.secondName}} {{item.person.name}}</td>
            <td>{{item.ean}}</td>
            <td>{{item.sum}}</td>
            <td>{{item.backSum}}</td>
            <td ng-hide="period"><a href="" ng-click="filterQuery(item.period)">{{item.period | month}}</a></td>
            <td ng-show="period">{{item.period | month}}</td>
            <td>{{item.service.name}}</td>
            <td>{{item.coach.name}}</td>
            <td>{{item.visitsCount}}</td>
            <td>
                <span ng-show="{{item.nds}}">с ндс</span>
                <span ng-show="{{!item.nds}}">без ндс</span>
            </td>
            <td>
                <span ng-show="{{item.cash}}">нал</span>
                <span ng-show="{{!item.cash}}">безнал</span>
            </td>
            <td>
                <button ng-click="edit(item)" class="glyphicon glyphicon-pencil btn btn-xs"></button>
            </td>
        </tr>
        </tbody>
    </table>

    <nav>
        <ul uib-pagination
                total-items="totalItems"
                ng-model="currentPage"
                max-size="maxSize"
                class="pagination"
                boundary-links="true"
                rotate="false"
                items-per-page="countPerPage"
                num-pages="numPages"></ul>

    </nav>

    <div ng-show="person_id" ng-controller="ModalPaymentController">
        <button id="newPaymentButton" class="btn btn-default btn-sm" ng-click="openNew()"><i class="glyphicon glyphicon-plus"></i> Новый платеж</button>
    </div>

</div>
