<div>
    <span class="subtitle">Планирование</span>
    <!--<hr/>-->
    <!--http://dhtmlx.com/docs/products/licenses.shtml - GPL -->

    <!--http://javascript.daypilot.org/lite/-->

    <div role="main">
        <!--<div class="container">-->
        <section id="directives-calendar">

            <div class="btn-toolbar" role="toolbar" style="text-align: right">

                <div class="btn-group" role="group" style="float: right">
                    <button class="btn btn-success"
                            ng-disabled="currentView=='agendaDay'"
                            ng-click="changeView('agendaDay', 'planCalendar')">День
                    </button>
                    <button class="btn btn-success"
                            ng-disabled="currentView=='agendaWeek'"
                            ng-click="changeView('agendaWeek', 'planCalendar')">Неделя
                    </button>
                </div>

                <div ng-controller="ModalPlanScheduleController"></div>

                <!--<div ng-controller="ModalPlanScheduleController">
                    <button id="newEventButton" class="btn btn-default btn-sm" ng-click="openNew()"><i
                            class="glyphicon glyphicon-plus"></i> Новая запись
                    </button>
                </div>
                <div class="btn-group" role="group" style="float: right">
                    <select class="btn btn-default" style="padding: 7px 12px"
                            ng-change="updateSelects()"
                            ng-model="selectedSessionDay"
                            ng-options="day.key as day.label for day in sessionDays">
                    </select>
                    <select class="btn btn-default" style="padding: 7px 12px"
                            ng-model="selectedSession"
                            ng-options="session.name for session in sessionsTimes track by session.id">
                    </select>

                    <select class="btn btn-default" style="padding: 7px 12px"
                            ng-model="selectedCoach"
                            ng-options="coach.name for coach in coaches">
                    </select>

                    <select class="btn btn-default" style="padding: 7px 12px"
                            ng-model="selectedService"
                            ng-options="service.name for service in selectedCoach.services">
                    </select>

                    <button class="btn btn-default" ng-click="saveNewItem()">Создать</button>
                </div>-->

            </div>

            <div class="calendar" ng-model="eventSources" calendar="planCalendar"
                 ui-calendar="uiConfig.calendar"></div>


            <!--<div context-menu class="panel panel-default position-fixed"
                 data-target="menu-{{ $index }}"
                 ng-class="{ 'highlight': highlight, 'expanded' : expanded }">
                ...
            </div>
            <div class="dropdown position-fixed" id="menu-{{ $index }}">
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a class="pointer" role="menuitem" tabindex="1"
                           ng-click="panel.highlight = true">
                            Select Panel {{ $index + 1 }}
                        </a>
                    </li>
                    <li>
                        <a class="pointer" role="menuitem" tabindex="2"
                           ng-click="panel.highlight = false">
                            Deselect Panel  {{ $index + 1 }}
                        </a>
                    </li>
                    <li>
                        <a class="pointer" role="menuitem" tabindex="3"
                           ng-click="panel.expanded = true">
                            Expand Panel {{ $index + 1 }}
                        </a>
                    </li>
                    <li>
                        <a class="pointer" role="menuitem" tabindex="4"
                           ng-click="panel.expanded = false">
                            Contract Panel {{ $index + 1 }}
                        </a>
                    </li>
                    <li>
                        <a class="pointer" role="menuitem" tabindex="5"
                           ng-click="addPanel()">
                            Add a panel
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ianwalter/ng-context-menu"
                           role="menuitem"
                           tabindex="-1">
                            ng-context-menu on GitHub
                        </a>
                    </li>
                </ul>
            </div>-->

            <div>
                <div ng-repeat="item in items" context-menu="menuOptions">Right Click: {{item.name}}</div>
            </div>
            <div ng-bind="selected"></div>


        </section>
        <!--</div>-->
    </div>

</div>
