<div>
    <span class="subtitle">Расписание</span>

    <!--http://dhtmlx.com/docs/products/licenses.shtml - GPL -->

    <!--http://javascript.daypilot.org/lite/-->

    <div role="main">
            <section id="directives-calendar">

                                    <div class="btn-toolbar">
                                        <div class="btn-group" style="float: right">
                                            <input type="text">
                                            <input type="button" value="+">
                                        </div>
                                    </div>

                                    <div class="calendar" ng-model="eventSources" calendar="myCalendar"
                                         ui-calendar="uiConfig.calendar"></div>

            </section>
    </div>

</div>
