<style>
</style>

<div>
    <span class="subtitle">Расписание (таблица)</span>

    <div style="float: left;width: 100%">
        <div class="modal-body">
            <div valdr-form-group>

                <div style="width: 100%; text-align: center">

                    <style type="text/css">
                        .picker-day.reserved:not(.picker-selected) {
                            background-color: #b2d8ff;
                            color: #000;
                        }
                    </style>

                    <div style="width:50%">
                        <multiple-date-picker
                                ng-model="selectedDates"
                                disallow-back-past-months="true"
                                highlight-days="highlightDays"
                                day-click="daySelectionClick"
                        ></multiple-date-picker>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th><a href="" ng-click="sortType = 'date'; sortReverse = !sortReverse">Дата</a></th>
            <th><a href="" ng-click="sortType = 'session.dayOfWeek'; sortReverse = !sortReverse">День недели</a></th>
            <th><a href="" ng-click="sortType = 'session.begin'; sortReverse = !sortReverse">Сеанс</a></th>
            <th><a href="" ng-click="sortType = 'service.name'; sortReverse = !sortReverse">Услуга</a>
                <a href="" ng-show="filterObject.service.id" ng-click="filterObject.service={}"
                   class="glyphicon glyphicon-filter"></a></th>
            <th><a href="" ng-click="sortType = 'coach.name'; sortReverse = !sortReverse">Тренер</a>
                <a href="" ng-show="filterObject.coach.uuid" ng-click="filterObject.coach={}"
                   class="glyphicon glyphicon-filter"></a></th>
            <!--<th><a href="" ng-click="sortType = 'limit'; sortReverse = !sortReverse">Места</a></th>-->
            <th>
                выбрано {{(items|filter:{selected:true}).length}} из {{items.length}}
                <!--{{allSelectedSign}}-->
                <input type="checkbox"
                       ng-click="toggle(items|filter:filterObject, items|filter:{selected:true});updateAllSelectedSign()"
                       ng-model="allSelectedSign"
                       indeterminate
                /></th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td colspan="5"></td>
            <td>
                <button ng-disabled="(items|filter:{selected:true}).length==0" class="btn btn-default btn-xs"
                        type="button"
                        ng-click="deleteItems(items|filter:{selected:true})">удалить
                </button>
            </td>
        </tr>

        <tr ng-repeat="item in items | filter:filterObject | orderBy:sortType:sortReverse" ng-click="select(item)">
            <td>{{item.date | date : 'dd.MM.yyyy'}}</td>
            <td>{{item.session.dayOfWeek | dayOfWeek}}</td>
            <td>
                <a href="" ng-click="filterObject.session.begin=filterObject.session.begin?'':item.session.begin">
                    {{item.session.begin}}
                </a>
            </td>
            <td>
                <a href="" ng-click="filterObject.service.id=filterObject.service.id?'':item.service.id">
                    {{item.service.name}}
                </a>
            </td>
            <td>
                <a href="" ng-click="filterObject.coach.uuid=filterObject.coach.uuid?'':item.coach.uuid">
                    {{item.coach.name}}
                </a>

            </td>
            <!--<td>{{item.limit}}</td>-->
            <td>
                <input type="checkbox" ng-model="item.selected" ng-click="updateAllSelectedSign()"/>
            </td>
        </tr>
        </tbody>
    </table>

    <!--
        <nav>
            <ul uib-pagination
                    total-items="totalItems"
                    ng-model="currentPage"
                    max-size="maxSize"
                    class="pagination"
                    boundary-links="true"
                    rotate="false"
                    items-per-page="countPerPage"
                    num-pages="numPages"></ul>

        </nav>
    -->

    <!--
        <div ng-show="person_id" ng-controller="ModalPaymentController">
            <button id="newPaymentButton" class="btn btn-default btn-sm" ng-click="openNew()"><i class="glyphicon glyphicon-plus"></i> Новый платеж</button>
        </div>
    -->

</div>
