<div style="height: 100%">
    <div role="main" style="height: 100%">

        <div style="padding-bottom: 5px; width: 100%; display: inline-block">
            <button name="acceptButton" ng-click="accept(planSchedule)" class="btn btn-success" style="float: right;margin-left:1px">Утвердить...</button>
            <button name="saveButton" ng-click="saveToPc(planSchedule)" class="btn btn-default" style="float: right">Сохранить</button>
            <input type="file" id="fileLoader" name="userJson" class="inputfile" accept="text/json, .schedule" />
            <label for="fileLoader" class="btn btn-default">Загрузить</label>
            <style>
                .inputfile {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }

            </style>
        </div>

        <table class="table table-bordered">

            <tr ng-repeat="service in services">
                <td width="15%"><label>{{service.name}}</label></td>
                <td>
                    <!--
                         Пн: 7:00, 8:30, 10:00, ...
                         Вт: 7:00, 8:30, ...
                         Ср: 7:00, 18:30, ...
                         Чт: 7:00, 8:30, ...
                         Пт: 7:00, 18:30, ...
                         Сб: 7:00, 8:30, ...
                         Вс: 7:00, 8:30, ...
                    -->

                    <div ng-show="!serviceCoachMap[service.id]">Без тренера</div>

                    <table class="table table-striped" style="width: 100%;height: 100%">

                        <tr style="text-align: center;color: lightgrey">
                            <td></td>
                            <td width="12%">Пн</td>
                            <td width="12%">Вт</td>
                            <td width="12%">Ср</td>
                            <td width="12%">Чт</td>
                            <td width="12%">Пт</td>
                            <td width="12%">Сб</td>
                            <td width="12%">Вс</td>
                        </tr>

                        <tr style="height: 100%" ng-repeat="coach in serviceCoachMap[service.id]">
                            <td><label>{{coach.shortName}}</label>
                            </td>

                            <td ng-repeat="i in [1,2,3,4,5,6,7]"> <!---->
                                <div
                                        style="cursor: crosshair; width: 100%; height:100%;"
                                        ng-click="showScheduleEditPanel($event, service.id, coach.uuid, i)"
                                        ng-hide="planSchedule[service.id][coach.uuid][i].hide"
                                >

                                    <span style="padding: 0 4px 0 4px; float: left"
                                          ng-repeat="sess in (planSchedule[service.id][coach.uuid][i].items)">
                                        {{sess.begin}}
                                    </span>
                                </div>
                            </td>

                        </tr>
                    </table>


                    <!--
                        кол-во мест в группе
                    -->
                </td>
            </tr>
        </table>


    </div>

</div>

<div ng-controller="ModalScheduleAcceptController" />