<div>
    <span class="subtitle">Расписание</span>

    <!--http://dhtmlx.com/docs/products/licenses.shtml - GPL -->

    <!--http://javascript.daypilot.org/lite/-->

    <div role="main">
            <section id="directives-calendar">

                                    <div class="btn-toolbar">
                                        <div class="btn-group" style="float: right">
                                            <button class="btn btn-success"
                                                    ng-click="changeView('agendaDay', 'myCalendar')">День
                                            </button>
                                            <button class="btn btn-success"
                                                    ng-click="changeView('agendaWeek', 'myCalendar')">Неделя
                                            </button>
                                            <button class="btn btn-success"
                                                    ng-click="changeView('month', 'myCalendar')">Месяц
                                            </button>
                                        </div>
                                    </div>

                                    <div class="calendar" ng-model="eventSources" calendar="myCalendar"
                                         ui-calendar="uiConfig.calendar"></div>

            </section>
    </div>

</div>
