<span>Тренер: {{coach.name}}</span>

<div>

    <div>
        <span style="padding-right: 5px" ng-repeat="weekday in weekdays">
            <input
                    type="checkbox"
                    name="filter.selectionWeekDays[]"
                    value="{{weekday}}"
                    ng-checked="filter.selectionWeekDays.indexOf(weekday.mid) > -1"
                    ng-click="toggleSelectionWeekDays(weekday.mid)"
            >{{weekday.shortName}}
        </span>

        <select name="period" class="form-control" ng-options="month.mid as month.name for month in monthList"
                ng-change="onSelectPeriod()"
                ng-model="filter.period"
                ng-show="filter.selectionWeekDays[0]"
                style="width: 200px;">
            <option value="">Укажите период...</option>
        </select>

        <div ng-show="filter.period">
            <ui-select id="seans-selector" ng-model="filter.selectedSessionBegin" on-select="onSelectSessionBegin()"
                       ng-disabled="disabled" style="width: 200px;"

            >
                <!--ng-show="sessionsBegin"-->
                <ui-select-match placeholder="Начало сеанса...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="session in sessionsBegin">
                    <div ng-bind-html="session"></div>
                </ui-select-choices>
            </ui-select>
            <span ng-hide="sessionsBegin">Нет сеансов на данный период</span>
        </div>
    </div>

    <div>
        <table>
            <tr>
                <td><span>Записей: {{items.length}} </span> &nbsp; </td>
                <td>
                    <button class="btn btn-default btn-sm" type="button"
                            ng-show="coach_id"
                            ng-click="export()">
                        <i class="glyphicon glyphicon-save"> </i>
                    </button>
                </td>
            </tr>
        </table>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Клиент</th>
            <!--<th>Карта</th>-->
            <th>Услуга</th>
            <th>Тариф</th>
            <th>Период</th>
            <th>Тренер</th>
            <th>оплач.посещ.</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items | orderBy:'person.secondName'">
            <td>{{item.person.fullName}}</td>
            <!--<td>{{item.ean}}</td>-->
            <td>{{item.service.name}}</td>
            <td>{{item.tariff.name}}</td>
            <td>{{item.period | month}}</td>
            <td>{{item.coach.name}}</td>
            <td>{{item.visitsCount}}</td>
        </tr>
        </tbody>
    </table>


</div>
