<div>
    <span class="subtitle">Услуги</span>

    <div style="float: right">
        <input type="text" id="filter" ng-model="currentFilter" ng-enter="showPage()" placeholder="фильтр..." class="form-control"/>
    </div>

    <!--https://github.com/khan4019/tree-grid-directive-->


    <script type="text/ng-template" id="template/treeGrid/treeServiceTemplate.html">
        <div class="table-responsive">
            <table class="table tree-grid" id="serviceTable">
                <thead>
                <tr>
                    <th>Услуга/тариф</th>
                    <th></th>
                    <th>учет ндс</th>
                    <th>действия</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="row in tree_rows | filter:{visible:true} track by row.branch.uid"
                    ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')" class="tree-grid-row">
                    <td>
                        <a ng-click="user_clicks_branch(row.branch)" style="text-decoration: none"><i
                                ng-class="row.tree_icon"
                                ng-click="row.branch.expanded = !row.branch.expanded"
                                class="indented tree-icon"></i>
                        </a>
                        <span class="indented tree-label" ng-click="on_user_click(row.branch)">
                                {{row.branch['name']}}
                        </span>
                    </td>

                    <td><span ng-show="row.branch['priceOne']">{{row.branch['priceOne']}} руб.</span></td>

                    <td> <span class="glyphicon glyphicon-ok" ng-show="{{row.branch['noNds']}}" />


                    <td>
                        <div ng-if="row.level==1">
                            <!-- услуга -->

                            <button ng-click="treeData.createTariff(row.branch)"
                                    class="glyphicon glyphicon-plus btn btn-xs"></button>

                            <button ng-click="treeData.editServiceOrTariff(row.branch)"
                                    class="glyphicon glyphicon-pencil btn btn-xs"></button>
                                <span ng-if="!row.branch.tariffs.length">
                                    <button ng-click="treeData.removeServiceOrTariff(row.branch)"
                                            class="glyphicon glyphicon-trash btn btn-xs"></button>
                                </span>
                        </div>
                        <div ng-if="row.level==2">
                            <span style="font-size: x-small">тариф</span>
                            <button ng-click="treeData.editServiceOrTariff(row.branch)"
                                    class="glyphicon glyphicon-pencil btn btn-xs"></button>
                            <button ng-click="treeData.removeServiceOrTariff(row.branch)"
                                    class="glyphicon glyphicon-trash btn btn-xs"></button>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </script>


    <div>
        <tree-grid
                tree-data="tree_data"
                style="overflow-x: visible"
                template-url="template/treeGrid/treeServiceTemplate.html"
                expand-on="name"
                on-click="onclick_tree_handler(branch)"
                on-select="onselect_tree_handler(branch)"

                icon-leaf="glyphicon glyphicon-unchecked"
                icon-expand="glyphicon glyphicon-expand"
                icon-collapse="glyphicon glyphicon-collapse-up"
        ></tree-grid>
    </div>

    <div ng-controller="ModalServiceController">
        <button class="btn btn-default btn-sm" ng-click="openNewServiceWindow()" id="newServiceButton"><i class="glyphicon glyphicon-plus"></i> Новая услуга
        </button>
    </div>

</div>
