<div>
    <div class="form-group">
        <label>Оборотно – сальдовая ведомость за </label>
        <input type="date" ng-model="selectedDateFrom" class="btn btn-default btn-sm" style="text-align: left">
        <label> - </label>
        <input type="date" ng-model="selectedDateTo" class="btn btn-default btn-sm" style="text-align: left">

        <button class="btn btn-default btn-sm" type="button" ng-click="report()">Применить</button>
        <button class="btn btn-default btn-sm" type="button" ng-click="export()">
            <i class="glyphicon glyphicon-save"> </i>
        </button>

    </div>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th rowspan="2">№</th>
            <th rowspan="2">ФИО клиента</th>
            <th rowspan="2">Дата рождения</th>
            <th rowspan="2">Наименование услуги</th>
            <th colspan="2">{{selectedDateFrom| date:'dd.MM.yyyy'}}</th>
            <th colspan="2">Оборот за период</th>
            <th colspan="2">{{selectedDateTo| date:'dd.MM.yyyy'}}</th>
        </tr>
        <tr>
            <th>Дебет</th>
            <th>Кредит</th>
            <th>Дебет</th>
            <th>Кредит</th>
            <th>Дебет</th>
            <th>Кредит</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items" class="ng-scope">
            <td class="ng-binding">{{$index+1}}</td>
            <td class="ng-binding">
                <a ng-href="#!payments?person_id={{item.person.uuid}}">
                    {{item.person.secondName}} {{item.person.name}} {{item.person.middleName}}
                </a>
            </td>
            <td class="ng-binding">{{item.person.birth | date:'dd.MM.yyyy'}}</td>
            <td class="ng-binding">{{item.service.name}}</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">{{item.sumPeriod}}</td>
            <td class="ng-binding">{{item.sumPeriod}}</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">0</td>
        </tr>
        </tbody>
    </table>
</div>
