<div>
    <div class="form-group">
        <label>Дата: </label>
        <input type="date" ng-model="selectedDate" class="btn btn-default btn-sm" style="text-align: left">
    </div>

    <div class="form-group">
        <label>НДС :</label>
        <select class="btn btn-default btn-sm" ng-model="selectedNds">
            <option value="">все</option>
            <option value="true">только с НДС</option>
            <option value="false">только без НДС</option>
        </select>
    </div>

    <div>
        <button class="btn btn-default btn-sm" type="button" ng-click="report()">Применить</button>
        <button class="btn btn-default btn-sm" type="button" ng-click="export()">
            <i class="glyphicon glyphicon-save"> </i>
        </button>
    </div>


    <span style="float: right; font-size: 16px; margin-right: 20px">Итого: <b>{{sumItems}}</b> руб.</span>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <!--<th>Абонемент</th>-->
            <th>время</th>
            <th>ФИО</th>
            <th>дата рождения</th>
            <th>Услуга</th>
            <th>Период</th>
            <th title="реально уплаченные клиентом деньги">Платеж</th>
            <th title="планируемое клиентом количество посещений">Посещения</th>
            <th title="кол-во посещений для отчетности (скорректированное с учетом компенсации)">Посещения (коррект.)</th>
            <th title="сумма компенсации за неизрасходованные, но ранее оплаченные посещения">Компенсация</th>
            <th>с НДС/без НДС</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items" class="ng-scope">
            <!--<td class="ng-binding">{{item.ean}}</td>-->
            <td class="ng-binding">{{item.payTime | date:'dd.MM.yyyy HH:mm' : 'UTC'}}</td>
            <td class="ng-binding">
                <a ng-href="#!payments?person_id={{item.person.uuid}}">
                    {{item.person.secondName}} {{item.person.name}} {{item.person.middleName}}
                </a>
            </td>
            <td class="ng-binding">{{item.person.birth | date:'dd.MM.yyyy'}}</td>
            <td class="ng-binding">{{item.service.name}}</td>
            <td class="ng-binding">{{item.period | month}}</td>
            <td class="ng-binding">{{item.sum}}</td>
            <td class="ng-binding">{{item.visitsCount}}</td>
            <td class="ng-binding">{{item.visitsCountDvSp}}</td>
            <td class="ng-binding">{{item.backSum}}</td>
            <td class="ng-binding">{{item.nds?'с':'без'}} ндс</td>
            <td class="ng-binding">{{item.cash?'нал':'безнал'}}</td>
        </tr>
        </tbody>
    </table>
</div>