<form name="itemForm" ng-submit="itemForm.$valid && submit()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Укажите причину</h3>
    </div>

    <div class="modal-body">
        <input type="text" name="name" class="form-control" placeholder="Пояснение"
               ng-model="msg"/>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit" ng-disabled="itemForm.$invalid">OK</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Отмена</button>
    </div>
</form>
