<form name="itemForm" ng-submit="itemForm.$valid && submit()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Запись расписания</h3>
    </div>

    <div class="modal-body">
        <div valdr-form-group>
            <label>Сеанс</label>
            {{item.sessionTitle}}
        </div>

        <div class="btn-group" role="group" ng-repeat="index in selectedCoach.size()">
            <select class="btn btn-default" style="padding: 7px 12px"
                    ng-model="selectedCoach[index]" ng-options="coach.name for coach in coaches">
            </select>
            <select class="btn btn-default" style="padding: 7px 12px"
                    ng-model="selectedService[index]" ng-options="service.name for service in selectedCoach[index].services">
            </select>
        </div><br/>
    </div>

    <button class="btn btn-warning btn-sm" type="button" ng-click="add()">+</button>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit" ng-disabled="itemForm.$invalid">OK</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Отмена</button>
    </div>

    <div ng-controller="ModalPaymentController" />
</form>
