<form name="itemForm" valdr-type="Person" ng-submit="itemForm.$valid && submit()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Клиент</h3>
    </div>
    <div class="modal-body">
        <div valdr-form-group>
            <label>Фамилия*</label>
            <input type="text" name="secondName" name="secondName" class="form-control" placeholder="Фамилия"
                   required
                   ng-model="item.secondName" capitalize-first/>
        </div>
        <div valdr-form-group>
            <label>Имя*</label>
            <input type="text" name="name" name="name" class="form-control" placeholder="Имя"
                   required
                   ng-model="item.name" capitalize-first/>
        </div>
        <div valdr-form-group>
            <label>Отчество</label>
            <input type="text" name="middleName" name="middleName" class="form-control" placeholder="Отчество"
                   ng-model="item.middleName" capitalize-first/>
        </div>
        <div valdr-form-group>
            <label>Дата рождения*</label>
            <input type="date" name="birth" name="birth" class="form-control" placeholder="Дата рождения"
                   required
                   ng-model="item.birth"
                   ng-model-options="{timezone: 'UTC'}"
                   json-date/>
        </div>

        <!--<div valdr-form-group>
            <label>Телефон*</label>
            <input type="text" name="phone" name="phone" class="form-control" placeholder="Телефон"
                   ng-model="item.phone"/>
        </div>-->
        <!--<div valdr-form-group>
            <label>Номер абонемента</label>
            <input type="text" name="ean" name="ean" class="form-control" readonly placeholder="присваивается автоматически"
                   ng-model="item.currentCardEan"/>
        </div>-->

        <span ng-show="itemForm.$invalid && itemForm.$submitted">Форма содержит ошибки: {{itemForm.$error.valdr[0].$name}}</span>
    </div>
    <div class="modal-footer">
        <button id="okButton" class="btn btn-primary btn-sm" type="submit" ng-disabled="itemForm.$invalid">OK</button>
        <button id="cancelButton" class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Отмена</button>

        <button style="float:left" id="deleteButton" class="btn btn-danger btn-sm" type="button" ng-show="role.manager" ng-click="delete()">Удалить клиента</button>
    </div>
</form>
