<style>
    /* кастомиация стилей селектора дат */
    .openday button {
        background-color: rgba(103, 166, 104, 0.7);
        color: #000;
    }

    #schedule_table tr td {
        padding-right: 10px;
    }
</style>

<form name="itemForm" valdr-type="Payment" ng-submit="itemForm.$valid && submit()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Платеж</h3>
    </div>

    <div class="modal-body">

        <div valdr-form-group>
            <label>Время</label>
            <input type="datetime-local" name="payTime" class="form-control" ng-model="item.payTime" json-date
                   ng-model-options="{timezone: 'UTC'}"/>
        </div>

        <div valdr-form-group>
            <label>Клиент</label>
            <ui-select ng-model="item.person" ng-disabled="disabled" style="min-width: 500px;">
                <ui-select-match placeholder="Клиент...">{{$select.selected.secondName}} {{$select.selected.name}}
                    {{$select.selected.middleName}}
                </ui-select-match>
                <ui-select-choices repeat="person in persons | filter: {$: $select.search}">
                    <div ng-bind-html="person.secondName+' '+person.name+' '+(person.middleName||'') | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div valdr-form-group>
            <label>Карта</label>
            <input type="text" name="ean" class="form-control" ng-model="item.ean" />
        </div>


        <div valdr-form-group>
            <label>Услуга</label>
            <ui-select id="service-selector" ng-model="item.service" on-select="onSelectService()"
                       ng-disabled="disabled" style="min-width: 500px;">
                <ui-select-match placeholder="Услуга...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="service in services | filter: {name: $select.search}">
                    <div ng-bind-html="service.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>


        <div valdr-form-group ng-show="item.service.tariffs.length">
            <label>Тариф</label>
            <ui-select id="tariff-selector" ng-model="item.tariff" on-select="onSelectTariff()" ng-disabled="disabled"
                       style="min-width: 500px;">
                <ui-select-match placeholder="Тариф...">{{$select.selected.name}}</ui-select-match>
                <!--<ui-select-choices repeat="tariff in tariffs | filter: {nameForFilter: $select.search}">-->
                <ui-select-choices repeat="tariff in item.service.tariffs | filter: {name: $select.search}">
                    <div ng-bind-html="tariff.name | highlight: $select.search"></div>
                    <!--<small ng-bind-html="tariff.serviceName | highlight: $select.search"></small>-->
                </ui-select-choices>
            </ui-select>
            <!--<small>{{item.tariff.serviceName||item.service.name}}</small>-->
            <!--<small>{{item.tariff}}</small>
            <small>{{item.service.tariffs}}</small>-->
        </div>

        <div valdr-form-group>
            <label>Тренер</label>
            <ui-select id="coach-selector" ng-model="item.coach" on-select="onSelectCoach()" ng-disabled="disabled"
                       style="min-width: 500px;">
                <ui-select-match placeholder="Тренер...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="coach in coachesForSelect | filter: {name: $select.search}">
                    <div ng-bind-html="coach.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div valdr-form-group>
            <label>Период</label>
            <select name="period" class="form-control" ng-options="month.mid as month.name for month in monthList"
                    ng-change="onSelectPeriod()"
                    ng-model="item.period">
                <option value="">-</option>
            </select>
            <a href ng-click="item.period=nextMonth(item.period);onSelectPeriod()"
               style="font-size:x-small; float: right">Следующий месяц</a>
        </div>

        <div class="form-group" style="overflow-x: auto" valdr-enabled="false">
            <table class="table-bordered" id="schedule_table">

                <table border="1"
                       style="border: 1px solid #ccc; border-radius: 4px; overflow: hidden;width: 100%">
                    <tr style="text-align: center;background-color: lightgray">
                        <td>Пн</td>
                        <td>Вт</td>
                        <td>Ср</td>
                        <td>Чт</td>
                        <td>Пт</td>
                        <td>Сб</td>
                        <td>Вс</td>
                    </tr>
                    <tr>
                        <td ng-repeat="(dayOfWeek, sch) in availableSchedulesMap" style="vertical-align: top;">
                            <div ng-repeat="(tm, data) in sch" style="padding-left: 10px">

                                <span title="{{getTitleForTimeSchedule(data).dates}}" style="white-space:nowrap;">
                                    <input type="checkbox" ng-model="selectedSessionsValue[dayOfWeek+'+'+tm]"/>
                                    {{tm}}
                                    <span ng-hide="item.coach" style="font-size: x-small">{{getTitleForTimeSchedule(data).coaches}}</span>
                                </span>

                                <div ng-show="selectedSessionsValue[dayOfWeek+'+'+tm]"
                                     style="padding-left: 20px; background-color: #f0f0f0">
                                    <div ng-repeat="(dt, item) in data" style="font-size: small;white-space:nowrap;">
                                        <input type="checkbox"
                                               ng-model="selectedDatesValue[data[dt].session.dayOfWeek + '+' + data[dt].session.begin + '+' + dt]"/>
                                        {{dt | date : 'dd MMM'}} ({{item.reserved}})
                                    </div>
                                </div>

                            </div>
                            <!--
                                                        <div ng-repeat="(dt, data) in sch"><b>{{dt | date : 'dd.MM'}}</b>
                                                            <div ng-repeat="(tm, item) in data"><input type="checkbox"/>{{tm}}</div>
                                                            <br/>
                                                        </div>
                            -->
                        </td>
                    </tr>
                </table>
            </table>
        </div>


        <div class="form-group" ng-show="item.service">

            <div class="col-md-3"><label>Кол-во занятий</label>

                <!--<div ng-show="!item.uuid">{{item.visitsCount}}</div>-->

                <!--ng-show="item.uuid"-->
                <select
                        name="visitsCount"
                        class="form-control"
                        ng-change="refreshForm(false)"
                        ng-model="item.visitsCount"
                        ng-options="n for n in [] | range:1:40"></select>
            </div>

            <div class="col-md-3"><label>Цена занятия</label>
                <div>{{item.tariff.priceOne||" -- "}} руб.</div>
            </div>

            <div class="col-md-3"><label>Компенсация</label>
                <!--<input ng-change="refreshForm()" min="0" type="number" name="backSum" ng-model="item.backSum"
                       class="form-control"/>-->
                <button id="compensationButton" class="btn btn-sm" type="button" ng-click="compensationButtonOnClick()">
                    {{item.backSum?(item.backSum + ' руб.'):'Компенсация'}}
                </button>
            </div>

            <div class="col-md-3">
                <label>В КАССУ, руб.</label>
                <input ng-change="onChangeSum()" ng-style="sumStyle" type="number" name="sum" ng-model="item.sum"
                       class="form-control"/>

                <input type="checkbox" ng-model="item.cash"/>-нал.

            </div>
            <!--</div>-->
        </div>

        <div ng-show="item.uuid">
            <small style="color: lightgrey;padding: 10px">Код платежа: {{item.uuid}}</small>
        </div>
    </div>
    <div class="modal-footer">
        <button id="okButton" class="btn btn-primary btn-sm" type="submit"
                ng-disabled="itemForm.$invalid || !item.period">Сохранить
            <!--ng-disabled="itemForm.$invalid || (item.sum==0 && item.backSum==0)">OK  - из-за этого кассиры не могут обнулить ошибочные платежи -->
        </button>
        <button id="cancelButton" class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Отмена</button>
    </div>
</form>

<div ng-controller="ModalGetReasonController">
    <!--<button id="submitButton" class="btn btn-default btn-sm" ng-click="open()"><i class="glyphicon glyphicon-plus"></i>Стронировать</button>-->
</div>

