<form name="itemForm" valdr-type="PosUser" ng-submit="itemForm.$valid && submit()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Сотрудник</h3>
    </div>

    <div class="modal-body">
        <div valdr-form-group>
            <label>Код карты</label>
            <input type="text" name="ean" name="ean" class="form-control" placeholder="Код карты" ng-model="item.ean"/>
        </div>

        <div valdr-form-group>
            <label>Сотрудник</label>
            <input type="text" name="name" name="name" class="form-control" placeholder="Сотрудник" ng-model="item.name"/>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit" ng-disabled="itemForm.$invalid">OK</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Отмена</button>
    </div>
</form>
