<form name="itemForm" valdr-type="Coach" ng-submit="itemForm.$valid && submit()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Тренер</h3>
    </div>

    <div class="modal-body">
        <div valdr-form-group>
            <label>Имя</label>
            <input type="text" name="name" class="form-control" placeholder="ФИО тренера"
                   ng-model="item.name"/>
        </div>


        <div class="form-group">
            <label>Услуги</label>
            <ui-select name="services" multiple ng-model="multipleServices.selectedServices" theme="bootstrap"
                       ng-disabled="disabled" close-on-select="true">
                <ui-select-match placeholder="выберите услугу...">{{$item.name}}</ui-select-match>
                <ui-select-choices
                        repeat="service in services | posUserFilter: {name: $select.search, id: $select.search}">
                    <div ng-bind-html="service.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

    </div>

    <div class="modal-footer">
        <button id="okButton" class="btn btn-primary btn-sm" type="submit" ng-disabled="itemForm.$invalid">OK</button>
        <button id="cancelButton" class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Отмена</button>
    </div>
</form>
