<form name="itemForm" ng-submit="itemForm.$valid && submit()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Утверждение расписания</h3>
    </div>

    <div class="modal-body">
        <div valdr-form-group>
            <label>Выберите дни для утверждения текущего расписания</label>
        </div>

        <style type="text/css">
            /*my birthday, is clickable*/
            .picker-day.reserved:not(.picker-selected){
                background-color: #ABD3F0;
                color: #000;
            }
        </style>


        <multiple-date-picker
                ng-model="selectedDates"
                disallow-back-past-months="true"
                highlight-days="highlightDays"
                day-click="daySelectionClick"
        ></multiple-date-picker>

        <!--template-url='views/components/multi-datepicker.html'-->
        <!--ng-model-options="{timezone: 'utc'}"-->

        <!--{{errorList}}-->

        <input type="checkbox" ng-model="selectedDiapazoneMode"/> <span>выделять диапазон</span>

        <div ng-repeat="err in errorList">
            <span>{{err}}</span>
        </div>


    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit" ng-disabled="itemForm.$invalid || allPromiseArray.length">Утвердить</button>
        <button class="btn btn-warning btn-sm" type="button" ng-disabled="allPromiseArray.length" ng-click="cancel()">Закрыть</button>
    </div>
</form>
