<form name="itemForm" valdr-type="Service" ng-submit="itemForm.$valid && submit()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Услуга</h3>
    </div>

    <div class="modal-body">
        <div valdr-form-group>
            <label>Наименование услуги</label>
            <input type="text" name="name" class="form-control" placeholder="Наименование услуги"
                   ng-model="item.name"/>
        </div>

        <div valdr-form-group>
            <label>Дети без НДС</label>
            <input type="checkbox" name="noNds" style="margin: 0 0 0 5px" placeholder="дети без ндс"
                   ng-model="item.noNds"/>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit" ng-disabled="itemForm.$invalid" id="okButton">OK</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()" id="cancelButton">Отмена</button>
    </div>
</form>
