<form name="itemForm" valdr-type="CardModel" ng-submit="itemForm.$valid && submit()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Абонемент</h3>
    </div>
    <div class="modal-body">

        <div valdr-form-group>
            <label>Название абонемента</label>
            <input type="text" name="name" class="form-control" placeholder="Название абонемента"
                   ng-model="item.name"/>
        </div>

        <div valdr-form-group>
            <label>Посещений</label>
            <input type="text" name="countPortion" class="form-control" placeholder="Посещений"
                   ng-model="item.countPortion"/>
        </div>


        <div valdr-form-group>
            <label>Дней</label>
            <input type="text" name="daysPortion" class="form-control" placeholder="Дней"
                   ng-model="item.daysPortion"/>
        </div>


        <div valdr-form-group>
            <label>Цена</label>
            <input type="text" name="price" class="form-control" placeholder="Цена"
                   ng-model="item.price"/>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit" ng-disabled="itemForm.$invalid">OK</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Отмена</button>
    </div>
</form>
