<form name="itemForm" valdr-type="Tariff" ng-submit="itemForm.$valid && submit()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Тариф</h3>
    </div>

    <div class="modal-body">
        <div valdr-form-group>
            <label>Название тарифа</label>
            <input type="text" name="name" class="form-control" placeholder="Наименование тарифа"
                   ng-model="item.name"/>
        </div>
        <!--<div valdr-form-group>
            <label>Количество дней действия абонемента</label>
            <input type="number" name="daysPortion" class="form-control" placeholder="Период действия"
                   ng-model="item.daysPortion"/>
        </div>
        <div valdr-form-group>
            <label>Количество доступных посещений</label>
            <input type="number" name="countPortion" class="form-control" placeholder="Доступные посещения"
                   ng-model="item.countPortion"/>
        </div>
        <div valdr-form-group>
            <label>Цена</label>
            <input type="number" name="price" class="form-control" placeholder="Цена"
                   ng-model="item.price"/>
        </div>-->
        <div valdr-form-group>
            <label>Цена одного посещения, руб.</label>
            <input type="number" name="priceOne" class="form-control" placeholder="Цена одного посещения, руб."
                   ng-model="item.priceOne"/>
        </div>
    </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit" ng-disabled="itemForm.$invalid">OK</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Отмена</button>
    </div>
</form>