<!-- выбор прошлых резервирований, которые должны быть компансированы -->
<!--
    сервис
    тренер

    дата время []
-->

<div class="modal-header">
    <h3 class="modal-title">Компенсация пропущенных занятий</h3>
</div>


<div class="modal-body" style="max-height: 600px;overflow-y: auto">

    <div><i>Укажите занятия, которые необходимо компенсировать по уважительной причине отсутствия клиента, затем нажмите
        Ok.</i></div>
    <br/>

    <div class="form-group" ng-repeat="payment in lastPayments">


        <b>{{payment.periodName}}:</b>
        <span style="float: right">Сумма: {{payment.sum}} руб.</span>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="4">
                    {{payment.service.name}} - {{payment.coach.name}} <br/>
                </td>
            </tr>
            </thead>

            <tbody>
            <tr ng-show="!payment.reservations || payment.reservations.length==0">
                <td colspan="4" style="text-align: center"><i>занятия в платеже не указаны</i></td>
            </tr>

            <tr ng-repeat="resrv in payment.reservations|orderBy:'-schedule.date'">
                <td>
                    {{resrv.schedule.date | date:'dd.MM.yyyy'}} ({{resrv.schedule.session.dayOfWeek | dayOfWeek}})
                </td>
                <td>{{resrv.schedule.session.begin}}</td>
                <td>{{resrv.payment.tariff.priceOne}} руб.</td>
                <td>
                    <input
                            ng-if="!resrv.paymentCompensator || resrv.paymentCompensator.uuid == item.uuid"
                            ng-change="toggle()" type="checkbox" ng-model="resrv.compensated"
                           ng-true-value="'YES'" ng-false-value="null">
                    <span
                            ng-if="resrv.paymentCompensator && resrv.paymentCompensator.uuid != item.uuid"#
                            title="компенсировано другим платежом"
                    >x</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal-footer">
    <DIV class="form-group">
        <div class="col-md-3" style="padding-top: 8px;">
            <b>Итого, руб.:</b>
        </div>
        <div class="col-md-3">
            <input type="number" name="backSum" ng-model="item.backSum"
                   ng-enter="close()"
                   class="form-control"/>

            <button
                    id="p60"
                    class="btn btn-default btn-xs"
                    ng-click="p60()">
                x 60%
            </button>
        </div>

        <div class="col-md-6">
            <button id="okButton" class="btn btn-primary btn-sm" ng-click="close()">OK</button>
        </div>
    </DIV>
</div>