<form name="itemForm" valdr-type="Pos" ng-submit="itemForm.$valid && submit()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Терминал {{item.pos}}</h3>
    </div>

    <div class="modal-body">
        <div valdr-form-group>
            <label>Название</label>
            <input type="text" name="pos" class="form-control" placeholder="Идентификатор POS-терминала"
                   ng-model="item.name"/>
        </div>

        <div valdr-form-group>
            <label>Описание</label>
            <input type="text" name="description" class="form-control" placeholder="Описание POS-терминала"
                   ng-model="item.description"/>
        </div>

        <div class="form-group">
            <label>Сотрудники</label>
            <ui-select name="users" multiple ng-model="multiplePosUsers.selectedPeople" theme="bootstrap"
                       ng-disabled="disabled" close-on-select="true">
                <ui-select-match placeholder="выберите пользователя...">{{$item.name}}</ui-select-match>
                <ui-select-choices
                        repeat="person in people | posUserFilter: {name: $select.search, id: $select.search}">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                    <small>
                        {{person.name}}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit" ng-disabled="itemForm.$invalid">Сохранить</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Отмена</button>
    </div>
</form>










