/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css

*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
/*@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);*/

.pagination {
    float: right;
    margin: 0 0 0 0;
}

.valdr-message {
    display: none;
}

.has-error .form-control {
    border: solid lightgray 1px;
}
.has-success .form-control {
    border: solid lightgray 1px;
}

.has-error.dirty-blurred .valdr-message {
    font-size: smaller;
    display: inline;
    color: orange;
    /*background-color: lightyellow;*/
    float: right;
    padding: 0 5px 0 5px;
}

.valdr-message {
    display: none;
}
.valdr-message.ng-invalid.ng-dirty.ng-touched, .form-submitted .valdr-message.ng-invalid {
    display: inline;
    border-color: darkred;
}
input.ng-invalid.ng-dirty.ng-touched, .form-submitted input.ng-invalid {
    border-color: darkred;
}
select.ng-invalid.ng-dirty.ng-touched, .form-submitted select.ng-invalid {
    border-color: darkred;
}
/*
.valdr-invalid-dirty-touched-group label, .form-submitted .form-group.ng-invalid label {
    color: red;
}
*/

span.ng-scope {
    color: darkgreen;
    /*opacity: 0.5;*/
    /*padding-left: -10px;*/
}

small.ng-binding {
    color: darkgreen;
    opacity: 0.7;
    font-size: small;
}

.subtitle {
    padding: 0 0 10px 5px;
    color: lightblue;
    float: left;
    font-size: x-large;
}

/*div.ng-scope {
    padding: 10px 10px 10px 10px;
}*/

.position-fixed {
    position: fixed;
}


